@tailwind base;
@tailwind components;
@tailwind utilities;

html {
}

body {
  @apply text-gray-800 max-w-screen-xl mx-auto dark:bg-gray-900 dark:text-gray-300;
  min-width: 768px;
}

a {
  @apply text-blue-500 cursor-pointer dark:text-blue-400;
  &:hover {
    @apply text-blue-600 underline dark:text-blue-300;
  }
}

svg {
  fill: currentColor;
}

button {
  @apply p-1 rounded border border-gray-400 bg-gray-100 cursor-pointer dark:bg-gray-800 dark:border-gray-600;
  &:hover {
    @apply border-gray-500 bg-gray-200 dark:bg-gray-600 dark:border-gray-400;
  }
}

.input {
  @apply relative;
  > input {
    @apply pl-8;
  }
  &-icon {
    @apply absolute w-8 top-0 left-0 h-full text-gray-500;
  }
}

select,
input,
textarea {
  @apply outline-none rounded border border-gray-400 overflow-hidden px-2 py-1 dark:border-gray-600 dark:bg-gray-800;
  &:focus {
    @apply border-gray-500 dark:border-gray-400;
  }
  &[readonly] {
    color: text-gray-600;
  }
  &.error,
  .error > & {
    @apply bg-red-200 border-red-600 dark:bg-red-900 dark:border-red-500;
  }
}

input,
textarea {
  @apply block w-full;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.modal {
  @apply w-1/2 mx-auto p-2 bg-white dark:bg-gray-900;
}
.vl-modal-backdrop {
  @apply dark:bg-white/10;
}

.modal-group {
  @apply text-left;
  > input {
    @apply w-full;
  }
  ~ .modal-group {
    @apply mt-1;
  }
}

.form-hint {
  @apply p-1 bg-gray-200 dark:bg-gray-700;
  code {
    @apply px-1 bg-yellow-200 border border-gray-400 rounded whitespace-nowrap dark:bg-yellow-700;
  }
}

.rule-list-header {
  @apply flex items-center p-1 border-b border-gray-200 dark:border-gray-600;
}

.rule-item {
  @apply px-2 py-1 rounded border border-transparent;
  &:hover {
    @apply border-gray-300 dark:border-gray-600;
  }
}

.rule-label {
  @apply inline-block mr-1 mb-2 px-1 rounded border border-blue-400 text-blue-400 uppercase;
  &.disabled {
    @apply bg-gray-500 border-gray-500 text-white;
  }
}

.nav {
  @apply flex flex-col w-1/4 max-w-[16rem] mr-2 pr-2 border-r border-gray-200 dark:border-gray-600;
}

.nav-sep {
  @apply mt-2 mb-1;
  &-title {
    @apply uppercase text-gray-600 dark:text-gray-400;
  }
  button {
    @apply py-0;
  }
}

.nav-item {
  @apply flex items-center px-2 py-1 rounded cursor-pointer;
  &:hover {
    @apply bg-gray-100 dark:bg-gray-800;
  }
  &.active {
    @apply bg-gray-200 dark:bg-gray-700;
  }
  &-status {
    @apply w-3 h-3 mr-1 rounded bg-gray-500;
    .enabled > & {
      @apply bg-green-600;
    }
  }
}

.dropdown-menu {
  @apply bg-white rounded border border-gray-400 dark:bg-gray-900 dark:border-gray-600;
  > div {
    @apply px-2 py-1 cursor-pointer;
    &:hover {
      @apply bg-gray-200 dark:bg-gray-800;
    }
    &.sep {
      @apply p-0 border-b border-gray-400 dark:border-gray-600;
    }
  }
}
