@tailwind base;
@tailwind components;
@tailwind utilities;

html {
}

body {
  @apply text-gray-800 max-w-screen-xl mx-auto;
  min-width: 768px;
}

a {
  @apply text-blue-500 cursor-pointer;
  &:hover {
    @apply text-blue-600 underline;
  }
}

svg {
  fill: currentColor;
}

button {
  @apply p-1 rounded border border-gray-400 bg-gray-100 cursor-pointer text-gray-700;
  &:hover {
    @apply border-gray-500 bg-gray-200;
  }
}

.input {
  @apply relative;
  > input {
    @apply pl-8;
  }
  &-icon {
    @apply absolute w-8 top-0 left-0 h-full text-gray-500;
  }
}

input,
textarea {
  @apply block w-full outline-none rounded border border-gray-400 overflow-hidden px-2 py-1;
  &:focus {
    @apply border-gray-500;
  }
  &[readonly] {
    color: text-gray-600;
  }
  &.error,
  .error > & {
    @apply bg-red-200 border-red-600;
  }
}

select {
  @apply border border-gray-400 p-2 rounded;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.nav-modal-group {
  @apply text-left;
  > input {
    @apply w-full;
  }
  ~ .nav-modal-group {
    @apply mt-1;
  }
}

.form-hint {
  @apply p-1 bg-gray-200;
  code {
    @apply px-1 bg-yellow-200 border border-gray-400 rounded;
  }
}

.rule-item {
  @apply px-2 py-1 rounded border border-transparent;
  &:hover {
    @apply border-gray-300;
  }
}

.rule-label {
  @apply inline-block mr-1 mb-2 px-1 rounded border border-blue-400 text-blue-400 uppercase;
  &.disabled {
    @apply bg-gray-500 border-gray-500 text-white;
  }
}

.nav-sep {
  @apply mt-2 mb-1;
  &-title {
    @apply uppercase text-gray-600;
  }
  button {
    @apply py-0;
  }
}

.nav-item {
  @apply flex items-center px-2 py-1 rounded cursor-pointer;
  &:hover {
    @apply bg-gray-100;
  }
  &.active {
    @apply bg-gray-200;
  }
  &-status {
    @apply w-3 h-3 mr-1 rounded bg-gray-500;
    .enabled > & {
      @apply bg-green-600;
    }
  }
}

.dropdown-menu {
  @apply bg-white rounded border border-gray-400;
  > div {
    @apply px-2 py-1 cursor-pointer;
    &:hover {
      @apply bg-gray-200;
    }
    &.sep {
      @apply p-0 border-b border-gray-400;
    }
  }
}
