@unocss;

html {
  font-size: 12px;
}

body {
  @apply text-zinc-800 dark:bg-zinc-900 dark:text-zinc-300 text-base;
}

.request-x-popup {
  @apply w-[24rem];
}

.active-area {
  @apply relative;
  &::before {
    content: '';
    @apply absolute top-0 left-0 right-0 h-[1px] bg-green-600;
  }
}

a {
  @apply text-blue-500 cursor-pointer dark:text-blue-400 hover:text-blue-600 hover:underline hover:dark:text-blue-300;
}

svg {
  fill: currentColor;
}

button {
  @apply p-1 rounded border border-zinc-400 bg-zinc-100 cursor-pointer dark:bg-zinc-800 dark:border-zinc-600;
  &:not(:disabled):hover {
    @apply border-zinc-500 bg-zinc-200 dark:bg-zinc-600 dark:border-zinc-400;
  }
  &:disabled {
    @apply bg-zinc-200 text-zinc-400 dark:bg-zinc-700 dark:text-zinc-500 cursor-not-allowed;
  }
}

kbd {
  @apply rounded px-1 py-[2px] bg-zinc-200 dark:bg-zinc-800;
}

.footer {
  @apply flex justify-between p-2 border-t border-zinc-200 dark:border-zinc-600;
}

select,
input[type='text'],
input[type='search'],
input[type='number'],
textarea {
  @apply block w-full outline-none rounded border border-zinc-400 px-2 py-1 bg-white dark:border-zinc-600 dark:bg-zinc-800;
  &:focus {
    @apply border-zinc-500 dark:border-zinc-400;
  }
  &[readonly] {
    color: text-zinc-600;
  }
  &.error,
  .error > & {
    @apply bg-red-200 border-red-600 dark:bg-red-600 dark:bg-opacity-40 dark:border-red-700;
  }
}

ul {
  @apply list-disc pl-6;
}

.subtle {
  @apply text-zinc-400 dark:text-zinc-500;
}

.input {
  @apply relative;
  > svg + input {
    @apply pl-8;
  }
  > svg {
    @apply absolute w-8 top-0 left-0 h-full text-zinc-500;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.modal {
  @apply w-1/2 min-w-[16rem] mx-auto p-2 bg-white dark:bg-zinc-900;
}
.vl-modal-backdrop {
  @apply dark:bg-black/70;
}

.modal-group {
  @apply text-left;
  ~ .modal-group {
    @apply mt-1;
  }
}

.form-hint {
  @apply p-1 bg-zinc-200 dark:bg-zinc-700;
  code {
    @apply px-1 bg-yellow-200 border border-zinc-400 rounded whitespace-nowrap dark:bg-yellow-800;
  }
}

.label-unsupported {
  @apply text-yellow-600 dark:text-yellow-600;
}

.rule-list-header {
  @apply flex items-center p-1 border-b border-zinc-200 dark:border-zinc-600;
}

.rule-item {
  @apply px-2 py-1 rounded border border-transparent;
  &.active,
  &:hover {
    @apply border-zinc-300 dark:border-zinc-600;
  }
  &.selected {
    @apply bg-zinc-200 dark:bg-zinc-700;
  }
}
.rule-item-badge {
  @apply p-1 text-xs uppercase text-zinc-500 dark:text-zinc-400;
}

.request-method-item {
  @apply flex items-center cursor-pointer;
  &:hover,
  &.active {
    @apply font-bold;
  }
  &:not(.active) {
    svg {
      @apply hidden;
    }
  }
}

.rule-label {
  @apply inline-block mr-1 mb-2 px-1 rounded border border-blue-400 text-blue-400 uppercase;
  &.disabled {
    @apply bg-zinc-500 border-zinc-500 text-white;
  }
}

.nav {
  @apply flex flex-col w-1/4 max-w-[16rem] p-2 border-r border-zinc-200 dark:border-zinc-600;
}

.toggle {
  @apply text-zinc-400 opacity-80 hover:opacity-100;
  &.active {
    @apply text-green-600;
  }
  &.disabled {
    @apply opacity-50 hover:opacity-80;
  }
}
.list-section {
  @apply mb-2;
}
.list-section-title {
  @apply sticky top-0 z-1 py-2 text-zinc-600 dark:text-zinc-400 bg-white dark:bg-zinc-900;
}
.list-section-empty {
  @apply py-1 px-8 italic text-zinc-400 dark:text-zinc-600;
}
.list-section-unsupported {
  @apply py-1 px-8;
}
.list-section-badge {
  @apply text-xs rounded border border-current text-blue-400 ml-1 px-1 uppercase text-center min-w-[1.5em];
  :hover > & {
    @apply no-underline;
  }
}

.list-item {
  @apply flex items-center px-2 py-1 rounded cursor-pointer border border-transparent select-none;
  &.selected {
    @apply bg-zinc-200 dark:bg-zinc-700;
  }
  &:hover,
  &.active {
    @apply border-zinc-300 dark:border-zinc-600;
  }
  svg:not(:hover) {
    @apply opacity-90;
  }
}

.menu-bar {
  @apply flex flex-1;
}
.menu-group {
  @apply uppercase text-xs px-4 py-1 bg-zinc-100 text-zinc-500 dark:bg-zinc-800 dark:text-zinc-400 border-t border-zinc-300 dark:border-zinc-600 text-center;
}
.menu-toggle {
  @apply px-2 py-1 cursor-pointer rounded;
  &:hover,
  &.active {
    @apply bg-zinc-200 dark:bg-zinc-700;
  }
}
.menu-sep {
  @apply p-0 border-b border-zinc-200 dark:border-zinc-800;
}
.menu-item {
  @apply flex px-2 py-1 cursor-pointer whitespace-nowrap;
  &.disabled {
    @apply cursor-not-allowed text-zinc-400 dark:text-zinc-600;
  }
  &:not(.disabled):hover {
    @apply bg-zinc-200 dark:bg-zinc-700;
  }
}
.menu-shortcut {
  @apply ml-4 text-zinc-400 dark:text-zinc-600;
}
.menu-dropdown {
  @apply select-none bg-white rounded border border-zinc-400 dark:bg-zinc-900 dark:border-zinc-600;
}

.dragging {
  @apply opacity-60;
  &-over {
    @apply relative;
    &::before {
      content: '';
      @apply absolute top-0 left-0 right-0 h-0.5 bg-yellow-300 dark:bg-yellow-700;
    }
  }
  &-below {
    &::before {
      @apply top-auto bottom-0;
    }
  }
}

.header {
  @apply flex items-center px-2 py-1 border-b border-zinc-200 dark:border-zinc-600;
}

.text-error {
  @apply text-red-500 dark:text-red-700;
}

.popup-enabled-lists {
  @apply px-2 overflow-y-auto max-h-[24rem];
}
