@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-zinc-800 dark:bg-zinc-800 dark:text-zinc-200;
}

.request-list {
  @apply flex flex-col border dark:border-zinc-500 h-screen;
}

.solid {
  @apply border-b bg-zinc-100 dark:bg-zinc-700 dark:border-zinc-500;
}

.toolbar {
  @apply p-1;
}

.icon {
  @apply w-4 h-4 mr-2 cursor-pointer text-zinc-600 hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-200;
  fill: currentColor;
}

.row {
  @apply flex;
  > * {
    @apply border-r dark:border-zinc-500 px-1 min-w-0;
    &:last-child {
      border-right: 0;
    }
    > div {
      @apply w-full break-all;
    }
  }
  &:not(.header) {
    @apply cursor-pointer;
    &:not(.active):hover {
      @apply bg-blue-100 dark:bg-blue-700;
    }
  }
  &:nth-child(even) {
    @apply bg-zinc-50 dark:bg-zinc-800;
  }
  &.active {
    @apply bg-blue-600 text-white;
  }
}

.panel {
  @apply absolute top-0 bottom-0 right-0 w-2/3 bg-white dark:bg-zinc-800 border-l border-zinc-300 dark:border-zinc-500 break-all overflow-y-auto;
  &-close {
    @apply fixed top-0 right-0 m-1 cursor-pointer z-10;
  }
}

.header-add,
.header-remove {
  @apply relative pl-4;
  &::before {
    @apply absolute top-0 left-0;
  };
}
.header-add {
  @apply text-green-500;
  &::before {
    content: '+';
  }
}
.header-remove {
  @apply text-red-500;
  &::before {
    content: '-';
  }
}

.section-title {
  @apply sticky top-0 bg-zinc-200 dark:bg-zinc-600 font-bold p-1;
}
.section-body {
  @apply pl-4;
}
.entry-label {
  @apply font-bold mr-2;
}
